[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tooterb
Exec=harbour-tooterb
Name=Tooter β

MimeType=text/html;x-scheme-handler/https;
#X-Maemo-Service=de.poetaster.tooterb
#X-Maemo-Object-Path=/de/poetaster/tooterb/openUrl
#X-Maemo-Method=de.poetaster.tooterb.openUrl
X-DBusActivatable=true

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=tooterb
Permissions=Internet;Audio;MediaIndexing;RemovableMedia;UserDirs;

[X-HarbourBackup]
BackupPathList=.local/share/de.poetaster/tooterb/
BackupConfigList=/apps/harbour-tooterb/
