[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tooterb
Exec=harbour-tooterb
Name=Tooter β

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-tooterb
Permissions=Compatibility;Internet;Audio;MediaIndexing;RemovableMedia;UserDirs
