[Desktop Entry]
Type=Application
Icon=harbour-tooterb
Name=Tooter β
MimeType=text/html;x-scheme-handler/https;

X-Maemo-Service=de.poetaster.harbour.tooterb
X-Maemo-Object-Path=/de/poetaster/harbour/tooterb
X-Maemo-Method=de.poetaster.harbour.tooterb.openUrl

NotShowIn=X-MeeGo;
Hidden=true
