[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tooterb
Exec=harbour-tooterb %u
Name=Tooter β
#X-DBusActivatable=true

MimeType=text/html;x-scheme-handler/https;

X-Maemo-Service=de.poetaster.tooterb
X-Maemo-Object-Path=/de/poetaster/tooterb
X-Maemo-Method=de.poetaster.tooterb.openUrl

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=tooterb
Permissions=Internet;Audio;MediaIndexing;RemovableMedia;UserDirs;
